@import "~src/styles/vars.scss";
@import "~src/styles/mixins.scss";

.grid {
  margin: 50px;

  button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
}

.margin-l {
  margin-left: $size-m;
}

.explore {
  margin-top: 32px;
}

.head-text {
  font-family: Oswald, "sans-serif";
}

.background-songs {
  background-image: url("/assets/tile/songs-tile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  // background-position-y: -150px;
  cursor: pointer;
  @include breakpoint-lt-s {
    background-position-y: 0px;
  }
}
.background-books {
  background-image: url("/assets/tile/books-tile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  // background-position-y: -90px;
  @include breakpoint-lt-s {
    background-position-y: 0px;
  }
}
.background-games {
  background-image: url("/assets/tile/games-tile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.background-movies {
  background-image: url("/assets/tile/movies-tile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  // background-position-x: -120px;
    cursor: pointer;

  @include breakpoint-lt-s {
    background-position-x: 0px;
  }
}

.overlay {
  opacity: 0.6;
  transition-duration: 800ms;
}

.overlay + .mat-title{
    opacity: 1.0;
}

.n-overlay {
  opacity: 1 !important;
}

.overlay:hover {
  opacity: 1;
  transition-duration: 800ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
