<div class="container">
  <div>
    <div class="content">
      <img [src]="data.thumbnail" />
      <div>
      <h1 class="mat-headline margin-left-l margin-bottom-xs">{{ data.name }}</h1>   
            <h2 class="mat-title margin-left-l">{{ data.artist }}</h2>

      </div>
    </div>
  </div>

  <button class="close-button margin-top-m" (click)="onClose()">
    <mat-icon aria-label="Next" role="button">close</mat-icon>
  </button>
</div>
<div>
  Some data
  <ul *ngFor="let track of data.tracks">{{track.trackName}}</ul>
</div>
