@import "~src/styles/vars.scss";
@import "~src/styles/mixins.scss";

.logo {
  width: 64px;
  height: 64px;
  margin-top: $size-xs;
}

.heading {
  display: flex;
  justify-content: center;
}

.heading-text {
  display: block;
  margin: 0;
  position: relative;
  margin-top: 110px;
  width: 100%;
  font-family: Oswald, "sans-serif";
}

.center {
  text-align: center;
}

mat-toolbar {
  background: rgba(18, 18, 18, 0.5);
}

.search_container {
  margin-top: 50px;
  justify-content: center;

  form {
    width: 100%;
    justify-content: center;
    display: flex;
  }
}

.search_field {
  width: 50%;
  font-family: "Montserrat", "Roboto";
  button {
    border: none;
    background: none;
    color: white;
    // outline: none;
  }
  mat-icon {
    font-size: 24px;
  }
  @include breakpoint-xs{
    width: 59%;
  }
}

.grid {
  margin: 50px;

  button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
}

.margin-l {
  margin-left: $size-m;
}

.explore {
  margin-top: 95px;
}

.head-text {
  font-family: Oswald, "sans-serif";
}

.background-songs {
  background-image: url("/assets/tile/songs-tile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -150px;
  cursor: pointer;
  @include breakpoint-lt-s {
    background-position-y: 0px;
  }
}
.background-books {
  background-image: url("/assets/tile/books-tile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -90px;
  @include breakpoint-lt-s {
    background-position-y: 0px;
  }
}
.background-games {
  background-image: url("/assets/tile/games-tile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.background-movies {
  background-image: url("/assets/tile/movies-tile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -120px;
  @include breakpoint-lt-s {
    background-position-x: 0px;
  }
}

.overlay {
  opacity: 0.6;
  transition-duration: 800ms;

}

.n-overlay {
  opacity: 1 !important;
}

.overlay:hover {
  opacity: 1;
  transition-duration: 800ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
