<div class="container">
  <div>
    <div color="primary" class="mat-display-2 heading-text center ">
      What do you wanna search today&nbsp;?
    </div>
  </div>
  <div class="search_container">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="search_field" #searchfield>
        <mat-label>Search for something</mat-label>

        <input
          matInput
          placeholder="Ex: Show me latest music"
          formControlName="searchQuery"
          autocomplete="off"
        />
        <button matSuffix type="submit">
          <mat-icon aria-hidden="false" aria-label="Search">search</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>


</div>
