@import "~src/styles/vars.scss";

// .container{
//     // background: url('/assets/cover/coverImage.jpg');
//     // background-size: cover;
//     // background-position: center;
//     // background-repeat: no-repeat;
//     // height: 100%;
// }

.logo {
  width: 64px;
  height: 64px;
  margin-top: $size-xs;
}

.heading {
  display: flex;
  justify-content: center;
}

.heading-text {
  display: block;
  margin: 0;
  position: relative;
  margin-top: 95px;
  width: 100%;
  font-family: Oswald, "sans-serif";
}

.center {
  text-align: center;
}

mat-toolbar {
  background: rgba(18, 18, 18, 0.5);
}

.search_container {
  margin-top: 30px;
  justify-content: center;

  form {
    width: 100%;
    justify-content: center;
    display: flex;
  }
}

.search_field {
  width: 50%;
  font-family: "Montserrat", "Roboto";
  button {
    border: none;
    background: none;
    color: white;
    // outline: none;
  }
  mat-icon {
    font-size: 24px;
  }
}

.grid{
  margin: 50px $size-m;
}

.margin-l{
    margin-left: $size-m;
}


.explore{

  margin-top: 95px;

}

.head-text{
  font-family: Oswald, "sans-serif";

}