// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "./themes.scss";
@import './vars.scss';
@import './utility.scss';
@import './mixins.scss';

// Plus imports for other components in your app.
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($SearchX-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: white;
  font-family: "Oswald", sans-serif !important;
  background: rgba(18, 18, 18, 1);
}

.mat-card {
  display: inline-block;
  background: rgba(18, 18, 18, 1);
  border: 0;
  border-radius: 0;
}


.margin-left {
  margin-left: $size-m;
}