<div class="container">
  <div>
    <div class="content">
      <img [src]="data.thumbnail" class="" />
      <div class="headline">
        <h1
          class="mat-headline margin-left-l margin-bottom-xs mat-primary-text text-bold large-header"
          color="mat-primary-text"
        >
          {{ data.name }}
        </h1>
        <h2 class="mat-title margin-left-l">
          {{ data.subscribers }} Subscribers
        </h2>
        <div class="flex button-container">
          <div class = "flex">
          <mat-icon color="primary" class=" margin-left-l"
            >calendar_today</mat-icon
          >
          <h4 class="mat-h4 margin-left-xs">{{ data.albums.length }}</h4>
          </div>
          <div class = "flex">
          <mat-icon color="primary" class=" margin-left-l">audiotrack</mat-icon>
          <h4 class="mat-h4 margin-left-xs">{{ data.genre }}</h4>
          </div>
          <div class = "flex">
          <mat-icon
            color="primary"
            class=" margin-left-l pointer"
            (click)="bookmarkArtist(data.artistId, data)"
            *ngIf="!this.dataFetchSvc.bookmarkContent[data.artistId]"
            >bookmark_border</mat-icon
          >
          <mat-icon
            color="primary"
            class="margin-left-l pointer"
            *ngIf="this.dataFetchSvc.bookmarkContent[data.artistId]"
            (click)="bookmarkArtist(data.artistId, data)"
            >bookmark</mat-icon
          >
          <h4
            class="mat-h4 margin-left-xs"
            *ngIf="!dataFetchSvc.bookmarkContent[data.artistId]"
          >
            Add to My List
          </h4>
          <h4
            class="mat-h4 margin-left-xs"
            *ngIf="dataFetchSvc.bookmarkContent[data.artistId]"
          >
            Remove from My List
          </h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="close-button margin-top-m" (click)="onClose()">
    <mat-icon aria-label="Next" role="button">close</mat-icon>
  </button>
</div>

<div>
  <h3 class="mat-h3 margin-top-m" *ngIf="data.albums.length">Albums by {{ data.name }}</h3>
  <app-horizontal-scroller>
    <ng-container *ngFor="let album of data.albums">
      <div class="albums">
        <div class="grid">
          <div>
            <img
              class="image"
              [src]="album.albumImage"
              (click)="bookmark(album.albumId, album)"
            />
            <mat-icon
              class="bookmark mat-primary-text"
              *ngIf="!this.dataFetchSvc.bookmarkContent[album.albumId]"
              >bookmark_border</mat-icon
            >
            <mat-icon
              class="bookmark mat-primary-text"
              *ngIf="this.dataFetchSvc.bookmarkContent[album.albumId]"
              >bookmark</mat-icon
            >
          </div>
          <div class=" flex text-truncate">
            <p class="">{{ album.albumName }}</p>
          </div>
          <p class="flex margin-top-xs">{{ album.date }}</p>
        </div>
      </div>
    </ng-container>
  </app-horizontal-scroller>
</div>
