@import "~src/styles/vars";

h3 {
  color: white;
  font-weight: 700;
  font-size: $size-l;
  margin-top: 50px;
  padding-left: $size-l + ($size-xs/2);
  font-family: "Montserrat", "sans-serif";
}

p {
  font-size: $size-m;
  padding: $size-xs;
}

.card-holder {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  //  padding: 0 $size-m;
  position: relative;
}

.card-holder::-webkit-scrollbar {
  display: none;
}
