@import "..//styles/vars.scss";

.logo {
  width: 64px;
  height: 64px;
  margin-top: $size-xs;
  outline: none;
}

mat-toolbar {
  background: rgba(18, 18, 18, 0.5);
}

mat-icon {
  font-size: 24px;
}

img {
  transition-duration: 600ms;
}

img:hover {
  transform: scale(1.1);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1100ms;
  cursor: pointer;
}

.loading-bar {
  position: sticky;
  top: 0;
}

.toolbar {
  justify-content: space-between;
}

.heading {
  font-size: 28px;
  cursor: pointer;
  outline: none;
  display: flex;
}

p:hover {
  border-bottom: 4px solid white;
  transition: all 0.2s ease-out;
  box-shadow: 0 -1px 0 0 white inset, 0 -2px 0 0 #212121 inset;
}

.explore {
  position: absolute;
  right: 120px;
  top: -10px;
}

.my-list {
  position: absolute;
  top: -10px;
  right: 20px;
}
