@import "..//styles/vars.scss";

.logo {
  width: 64px;
  height: 64px;
  margin-top: $size-xs;
  outline: none;
}

mat-toolbar {
  background: rgba(18, 18, 18, 0.5);
}

mat-icon {
  font-size: 24px;
}

img{
    transition-duration: 600ms;

}

img:hover {
  transform: scale(1.1);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1100ms;
  cursor: pointer;
}

.loading-bar {
  position: sticky;
  top: 0;
}
