<mat-progress-bar
  class="loading-bar"
  color="primary"
  *ngIf="loading"
  mode="indeterminate"
></mat-progress-bar>

<mat-toolbar #toolbar class="mat-elevation-z6 flex toolbar">
    <img (click) ="navigateHome()" class="logo" src="../assets/logo/logo.png" />
    <div class = "heading">
    <p class = "  primaryTypography margin-right-l padding-bottom-xs" [routerLink]="['/explore']">Explore</p>  
        <p class = "  primaryTypography margin-right-l padding-bottom-xs" [routerLink]="['/explore']">My List</p>  

    </div>
</mat-toolbar>

<router-outlet></router-outlet>
