<div class="container">
  <div>
    <div class="content">
      <img [src]="data.thumbnail" class="" />
      <div class="headline">
        <h1
          class="mat-headline margin-left-l margin-bottom-xs mat-primary-text text-bold"
          color="mat-primary-text"
        >
          {{ data.movieName }}
        </h1>
        <h2 class="mat-title margin-left-l">
          {{ data.directorName }}
        </h2>
        <div class="flex">
          <!-- <mat-icon color="primary" class=" margin-left-l">timer</mat-icon>
          <h4 class="mat-h4 margin-left-xs">{{ data.directorName }}</h4> -->
          <mat-icon color="primary" class=" margin-left-l"
            >calendar_today</mat-icon
          >
          <h4 class="mat-h4 margin-left-xs">{{ data.year }}</h4>

          <mat-icon color="primary" class=" margin-left-l"
            >local_movies</mat-icon
          >
          <h4 class="mat-h4 margin-left-xs">{{ data.genre }}</h4>
          <mat-icon
            color="primary"
            class=" margin-left-xl pointer"
            (click)="bookmarkMovie(data.movieId, data)"
            *ngIf="!this.dataFetchSvc.bookmarkContent[data.movieId]"
            >bookmark_border</mat-icon
          >
          <mat-icon
            color="primary"
            class="margin-left-xl pointer"
            *ngIf="this.dataFetchSvc.bookmarkContent[data.movieId]"
            (click)="bookmarkMovie(data.movieId, data)"
            >bookmark</mat-icon
          >
          <h4
            class="mat-h4 margin-left-xs"
            *ngIf="!dataFetchSvc.bookmarkContent[data.movieId]"
          >
            Add to My List
          </h4>
          <h4
            class="mat-h4 margin-left-xs"
            *ngIf="dataFetchSvc.bookmarkContent[data.movieId]"
          >
            Remove from My List
          </h4>
        </div>
      </div>
    </div>
  </div>

  <button class="close-button margin-top-m" (click)="onClose()">
    <mat-icon aria-label="Next" role="button">close</mat-icon>
  </button>
</div>


<div>
  <h3 class="mat-h3 margin-top-m">Popular Movies by {{ data.directorName }}</h3>
  <app-horizontal-scroller>
    <ng-container *ngFor="let movie of data.movies">
      <div class="movies">
        <div class="grid">
          <div>
            <img
              class="image"
              [src]="movie.thumbnail"
              (click)="bookmarkMovie(movie.movieId, movie)"
            />
            <mat-icon
              class="bookmark mat-primary-text"
              *ngIf="!this.dataFetchSvc.bookmarkContent[movie.movieId]"
              >bookmark_border</mat-icon
            >
            <mat-icon
              class="bookmark mat-primary-text"
              *ngIf="this.dataFetchSvc.bookmarkContent[movie.movieId]"
              >bookmark</mat-icon
            >
          </div>
          <div class=" flex text-truncate">
            <p class="">{{ movie.movieName }}</p>
          </div>
          <p class="flex margin-top-xs op40">{{ movie.genre }}</p>
        </div>
      </div>
    </ng-container>
  </app-horizontal-scroller>
</div>
