.container {
  display: flex;
  justify-content: space-between;
  img {
    width: 195px;
    z-index: 0;
    border-radius: 5px;
  }
  button {
    justify-content: end;
    margin-right: 20px;
  }
}
.content {
  display: flex;

  @media only screen and (max-width: 831px) {
    flex-wrap: wrap;
  }
}

.button-container {
  display: flex;
  @media only screen and (max-width: 586px) {
    flex-wrap: wrap;
  }
}

.headline {
  h1,
  h2,
  h3,
  h4 {
    font-family: "Oswald", sans-serif !important;
    letter-spacing: 0.05em;
  }
}

.close-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: black;
  background: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
  transform: translate3d(50%, -50%, 0);
  cursor: pointer;
  padding: 0;

  @media only screen and (max-width: 831px) {
    width: 24px;
    height: 24px;
  }
}

.large-header {
  @media only screen and (max-width: 831px) {
    margin-top: 20px;
  }
}

.movies {
  position: relative;
  width: 140px;
  height: 100%;
  margin: 5px 15px;
  font-family: Montserrat;
  img {
    width: 140px;
    height: 160px;
    z-index: 0;
    border-radius: 5px;
    cursor: pointer;
  }
}

.image {
  transition-duration: 400ms;
}

.image:hover {
  opacity: 0.3;
}

.image:hover + .bookmark {
  opacity: 1;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 0.25fr 0.1fr;
}

.text-truncate {
  max-width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.add {
  justify-content: flex-end;
}

.bookmark {
  position: absolute;
  top: 80px;
  left: 57px;
  opacity: 0;
  pointer-events: none;
}

.pointer {
  cursor: pointer;

}

.op40 {
  opacity: 0.4;
}
