<div class="container margin-top-xl" *ngIf="fetchStatus==='done'">
  <span
    color="primary"
    class="mat-display-2 head-text margin-left-xl margin-right-xl "
    >My List</span
  >

  <h4
    class="info margin-left-l mat-h2 flex justify-center"
    *ngIf="!savedList.length"
  >
    Your Saved / Bookmarked data will be displayed here
  </h4>

  <div class="flex justify-center" *ngIf="savedList.length">
    <p
      class="  explore primaryTypography margin-right-l padding-bottom-xs"
      [ngClass]= "{'showAll': selected}"
      (click)="toggleData('all')"
    >
      All
    </p>
    <p
      class=" my-list primaryTypography margin-right-l padding-bottom-xs"
      [routerLink]="['/myList']"
    >
      Songs
    </p>
  </div>

  <div class="margin-top-m flex justify-center">
      <div class="flex card-container">
    <ng-container *ngFor="let data of savedList">
      <app-my-list-card [cardData]=data></app-my-list-card>
    </ng-container>
  </div>
  </div>

</div>
